.App {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: gray;
}

.sidenav {
  height: 100%;
  width: 17.5rem;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5rem;
}